rsa-key-size = {{ http.ssl.keysize }}
manual = true
email = {{ http.ssl.email }}
webroot-path = {{ http.ssl.root }}
agree-tos = true
quiet = true
domains = {{ http.ssl.tld }}
expand = true
no-eff-email = true
preferred-challenges = dns

