rsa-key-size = {{ http_ssl.keysize }}
manual = true
email = {{ http_ssl.email }}
webroot-path = {{ http_ssl.root }}
agree-tos = true
quiet = true
domains = {{ http_ssl.tld }}
expand = true
no-eff-email = true
preferred-challenges = dns

