rsa-key-size = 4096
manual = true
email = {{ admin.email }}
webroot-path = /usr/share/nginx/html
agree-tos = true
quiet = true
domains = {{ site.domain }}
expand = true
no-eff-email = true
preferred-challenges = dns
