server {
    listen {{ ports.http }};
    listen [::]:{{ ports.http }};

    server_name {{ server_address }};

    error_log /var/log/nginx/{{ project.name }}.error;
    access_log /var/log/nginx/{{ project.name }}.access;

    location / {
        proxy_pass {{ proxy_address }};
        }

        proxy_set_header        Host $host;
        proxy_set_header        X-Real-IP $remote_addr;
        proxy_set_header        X-Forwarded-For $proxy_add_x_forwarded_for;
        proxy_set_header        X-Forwarded-Proto $scheme;
    }


